<h2>Блюдо - добавить ингредиент</h2>

<h3><li><a href="{{ url('food_dishes_list') }}">Вернуться к списку блюд</a></li></h3>
<h3><li><a href="{{ url('food_dishes_view',{'id': dish.id}) }}">Вернуться к просмотру блюда {{ dish.name }}</a></li></h3>

<h3>{{ dish.name }}</h3>
