<h2>Блюдо - редактирование</h2>

<h3><li><a href="{{ url('food_dishes_list') }}">Вернуться к списку блюд</a></li></h3>
<h3><li><a href="{{ url('food_dishes_view',{'id': dish.id}) }}">Вернуться к блюду</a></li></h3>

<h3><li><a href="{{ url('food_dishes_add_ingredient',{'id': dish.id}) }}">Добавить ингредиент в состав</a></li></h3>


<h3>{{ dish.name }}</h3>
