<h2>Блюдо - просмотр</h2>

<h3><li><a href="{{ url('food_dishes_list') }}">Вернуться назад</a></li></h3>
<h3><li><a href="{{ url('food_dishes_edit',{'id': dish.id}) }}">Редактировать состав</a></li></h3>

<h3>{{ dish.name }}</h3>
